@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "tailwindcss";

/* we must add this line (from tailwindcss darkmode doc) */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply m-0 p-0 bg-[#ececec] dark:bg-darkmode;
  }
  html {
    @apply scroll-smooth;
  }
  ::selection {
    @apply bg-gray-600 text-slate-100;
  }
}

@theme {
  --color-primary: oklch(37.2% 0.044 257.287);
  --color-darkmode: oklch(26.9% 0 0);
  --color-span: oklch(62.3% 0.214 259.815);
  --color-accent: oklch(12.9% 0.042 264.695);
  --font-display: "Anton", sans-serif;
}
